body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Geologica', sans-serif;
    background-color: #0093E9;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    

    
}

span{
    font-family: 'Geologica', sans-serif;

}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.main {
    display: flex;
    flex-direction: column;
    height: 345px;
    width: 60%;
    margin: 10%;
}

.main::before {
    content: '';
    background-color: rgb(0, 0, 0);
    height: 345px;
    width: 60%;
    position: absolute;
    top: 0px;
    left: 90px;
    z-index: -1;
    margin: 10%;
    border-radius: 40px;
    opacity: 0.5;

}

#search {
    width: 330px;
    height: 33px;
    border-radius: 27px;
    font-size: 20px;
    padding: 6px;
    border: white;
    padding-left: 30px;
    color: black;
}



#nav {

    display: flex;
    justify-content: center;
    margin: 30px;
}

#btn-submit {
    padding: 11px 14px;
    margin: 2px 4px 32px 14px;
    color: white;
    border-radius: 100%;
    border: white;
}

button img {
    width: 16px;
}

span {
    color: white;
    font-size: 50px;

}

h2 {
    padding: 0px;
    margin: -10px 0px 0px 0px;
}

#temp {
    color: white;
    font-size: 100px;
}

.container {
    display: flex;
    flex-direction: row;
}

#city {
    font-size: 24px;
}

#wind-block {
    margin: 58px 0px 0px 48px;
}

#humidity-block {
    margin: 58px 0px 0px 48px;

}

#wind-block img {
    width: 40px;
}

#humidity-block img {
    width: 40px;
}


#weather-icon {
    width: 203px;
    margin: -18px 0px 0px 22px;
}


.units {
    font-size: 19px;
}

p{
    text-align:center;
    padding: 15px;
}


@media only screen and (max-width: 450px) {

    .container {
        flex-direction: column;
    }

    .main::before {
        content: '';
        background-color: rgb(0, 0, 0);
        height: 560px;
        width: 80%;
        position: absolute;
        top: 80px;
        left: 2px;
        margin: 10%;
        opacity: 0.5;
        margin-bottom: 20px;
    }



    #search {
        width: 175px;
    }

    #nav {
        margin: 10px;
    }

    #temp {
        font-size: 90px;
    }

    #temp {
        margin-left: 40px
    }

    #city {
        margin-left: 40px;
    }

    #weather-icon {
        margin: 2px 0px 0px 22px;
        padding-bottom: 64px;
    }

    #wind-block {
        margin: 22px 0px 0px 45px;
    }

    #humidity-block {
        margin: 9px 0px 0px 45px;
    }

    .units {
        font-size: 17px;
    }

    #humidity {
        font-size: 35px;
    }

    #wind {
        font-size: 35px;
    }

    #wind-block img {
        width: 35px;
    }

    #humidity-block img {
        width: 35px;
    }
}